{"openapi":"3.0.3","info":{"title":"Microsoft Research REST API","description":"Read-only API for Microsoft Research publications, people, groups, events, and related content.","version":"2.0","contact":{"name":"Microsoft Research","url":"https:\/\/www.microsoft.com\/en-us\/research\/"}},"servers":[{"url":"https:\/\/www.microsoft.com\/en-us\/research\/wp-json\/microsoft-research\/v2","description":"Current environment"}],"paths":{"\/articles":{"get":{"tags":["Articles"],"summary":"List articles","operationId":"getArticles","parameters":[{"name":"view","in":"query","required":false,"schema":{"type":"string","description":"Response detail level: \"compact\" returns minimal fields for list views, \"full\" returns all fields (default: compact)","default":"compact","enum":["compact","full"]},"description":"Response detail level: \"compact\" returns minimal fields for list views, \"full\" returns all fields (default: compact)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items per page.","default":10,"minimum":1,"maximum":100},"description":"Maximum number of items per page."},{"name":"search","in":"query","required":false,"schema":{"type":"string","description":"Search term."},"description":"Search term."},{"name":"author","in":"query","required":false,"schema":{"type":"integer","description":"Filter by author user ID."},"description":"Filter by author user ID."},{"name":"research_area","in":"query","required":false,"schema":{"type":"string","description":"Filter by research area slug","enum":["artificial-intelligence","systems-and-networking","human-computer-interaction","programming-languages-software-engineering","algorithms","computer-vision","human-language-technologies","data-platform-analytics","search-information-retrieval","medical-health-genomics","security-privacy-cryptography","social-sciences","graphics-and-multimedia","hardware-devices","computational-sciences-mathematics","economics","audio-acoustics","technology-for-emerging-markets","ecology-environment","quantum"]},"description":"Filter by research area slug"},{"name":"locale","in":"query","required":false,"schema":{"type":"string","description":"Filter by locale slug."},"description":"Filter by locale slug."},{"name":"parent_type","in":"query","required":false,"schema":{"type":"string","description":"Filter by parent type (lab, project, group, story).","enum":["lab","project","group","story"]},"description":"Filter by parent type (lab, project, group, story)."},{"name":"parent_id","in":"query","required":false,"schema":{"type":"integer","description":"Filter by parent post ID."},"description":"Filter by parent post ID."},{"name":"orderby","in":"query","required":false,"schema":{"type":"string","description":"Sort by field.","default":"date","enum":["date","title","modified"]},"description":"Sort by field."},{"name":"order","in":"query","required":false,"schema":{"type":"string","description":"Sort order.","default":"desc","enum":["asc","desc"]},"description":"Sort order."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"},{"name":"links","in":"query","required":false,"schema":{"type":"string","description":"Sub-resource link detail: count (with counts, default), minimal (no counts, fastest), all (with counts, show all)","default":"count","enum":["count","minimal","all"]},"description":"Sub-resource link detail: count (with counts, default), minimal (no counts, fastest), all (with counts, show all)"},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include in response. Use to reduce payload size.","default":""},"description":"Comma-separated list of fields to include in response. Use to reduce payload size."},{"name":"modified_after","in":"query","required":false,"schema":{"type":"string","description":"Filter by modification date (YYYY-MM-DD or ISO 8601)"},"description":"Filter by modification date (YYYY-MM-DD or ISO 8601)"},{"name":"modified_before","in":"query","required":false,"schema":{"type":"string","description":"Filter by modification date (YYYY-MM-DD or ISO 8601)"},"description":"Filter by modification date (YYYY-MM-DD or ISO 8601)"},{"name":"ids","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of IDs to include"},"description":"Comma-separated list of IDs to include"},{"name":"exclude","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of IDs to exclude"},"description":"Comma-separated list of IDs to exclude"},{"name":"slug","in":"query","required":false,"schema":{"type":"string","description":"Filter by URL slug"},"description":"Filter by URL slug"},{"name":"content_format","in":"query","required":false,"schema":{"type":"string","description":"Content format: plain, rendered, markdown, or all (default)","default":"all","enum":["plain","rendered","markdown","all"]},"description":"Content format: plain, rendered, markdown, or all (default)"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"article","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Article title."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date."},"dateModified":{"type":"string","description":"Last modified date."},"timestamp":{"type":"integer","description":"Unix timestamp."},"excerpt":{"type":"string","description":"Short description."},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"parent":{"type":"object","description":"Parent article reference."},"image":{"$ref":"#\/components\/schemas\/Image"},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"locale":{"type":"object"},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/articles\/{id}":{"get":{"tags":["Articles"],"summary":"Get a single article","operationId":"getArticlesById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Article ID"},"description":"Article ID"},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"},{"name":"links","in":"query","required":false,"schema":{"type":"string","description":"Sub-resource link detail: count (with counts, default), minimal (no counts, fastest), all (with counts, show all)","default":"count","enum":["count","minimal","all"]},"description":"Sub-resource link detail: count (with counts, default), minimal (no counts, fastest), all (with counts, show all)"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","title":"article","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Article title."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date."},"dateModified":{"type":"string","description":"Last modified date."},"timestamp":{"type":"integer","description":"Unix timestamp."},"excerpt":{"type":"string","description":"Short description."},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"parent":{"type":"object","description":"Parent article reference."},"image":{"$ref":"#\/components\/schemas\/Image"},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"locale":{"type":"object"},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/articles\/{id}\/groups":{"get":{"tags":["Articles"],"summary":"Get groups for a article","operationId":"getArticlesByIdGroups","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Article ID"},"description":"Article ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"group","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Group name."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date.","format":"date-time"},"dateModified":{"type":"string","description":"Last modified date.","format":"date-time"},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"excerpt":{"type":"string","description":"Short description."},"image":{"$ref":"#\/components\/schemas\/Image"},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"groupTypes":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"memberCount":{"type":"integer","description":"Number of members."},"publicationCount":{"type":"integer","description":"Number of publications."},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/articles\/{id}\/labs":{"get":{"tags":["Articles"],"summary":"Get labs for a article","operationId":"getArticlesByIdLabs","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Article ID"},"description":"Article ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"lab","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Lab name."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date."},"dateModified":{"type":"string","description":"Last modified date."},"shortName":{"type":"string","nullable":true,"description":"Short name or abbreviation."},"image":{"$ref":"#\/components\/schemas\/Image"},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"excerpt":{"type":"string","description":"Short description."},"location":{"type":"string","nullable":true,"description":"Lab location."},"leadership":{"type":"array","description":"Lab leadership.","items":{"$ref":"#\/components\/schemas\/PersonRef"}},"researchAreas":{"type":"array","items":{"type":"object"}},"regions":{"type":"array","items":{"type":"object"}},"memberCount":{"type":"integer","description":"Number of members."},"publicationCount":{"type":"integer","description":"Number of publications."},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/articles\/{id}\/people":{"get":{"tags":["Articles"],"summary":"Get people for a article","operationId":"getArticlesByIdPeople","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Article ID"},"description":"Article ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"person","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Full name."},"url":{"type":"string","description":"Profile URL.","format":"uri"},"firstName":{"type":"string","description":"First name."},"lastName":{"type":"string","description":"Last name."},"alias":{"type":"string","description":"Alias or alternate name."},"title":{"type":"string","description":"Job title."},"staffType":{"type":"string","description":"Staff classification."},"email":{"type":"string","description":"Email address.","format":"email"},"socialMedia":{"type":"array","description":"Social media links.","items":{"type":"string"}},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"avatar":{"type":"string","description":"Avatar image URL.","format":"uri"},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"publicationCount":{"type":"integer","description":"Number of publications."},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/articles\/{id}\/projects":{"get":{"tags":["Articles"],"summary":"Get projects for a article","operationId":"getArticlesByIdProjects","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Article ID"},"description":"Article ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"project","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Project name."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date."},"dateModified":{"type":"string","description":"Last modified date."},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"excerpt":{"type":"string","description":"Short description."},"status":{"type":"string","description":"Project status."},"startDate":{"type":"string","nullable":true,"description":"Project start date."},"endDate":{"type":"string","nullable":true,"description":"Project end date."},"image":{"$ref":"#\/components\/schemas\/Image"},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"memberCount":{"type":"integer","description":"Number of members."},"publicationCount":{"type":"integer","description":"Number of publications."},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/articles\/{id}\/publications":{"get":{"tags":["Articles"],"summary":"Get publications for a article","operationId":"getArticlesByIdPublications","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Article ID"},"description":"Article ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"},{"name":"orderby","in":"query","required":false,"schema":{"type":"string","description":"Sort by field","default":"datePublished","enum":["date","title","datePublished"]},"description":"Sort by field"},{"name":"order","in":"query","required":false,"schema":{"type":"string","description":"Sort order","default":"desc","enum":["asc","desc"]},"description":"Sort order"},{"name":"year","in":"query","required":false,"schema":{"type":"integer","description":"Filter by publication year (YYYY)","minimum":1900,"maximum":2100},"description":"Filter by publication year (YYYY)"},{"name":"research_area","in":"query","required":false,"schema":{"type":"array","description":"Filter by research area slugs","items":{"type":"string"}},"description":"Filter by research area slugs"},{"name":"publication_type","in":"query","required":false,"schema":{"type":"array","description":"Filter by publication type slugs","items":{"type":"string"}},"description":"Filter by publication type slugs"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"publication","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Publication title."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date.","format":"date"},"dateModified":{"type":"string","description":"Last modified date.","format":"date-time"},"year":{"type":"integer","description":"Publication year."},"timestamp":{"type":"integer","description":"Unix timestamp."},"abstract":{"$ref":"#\/components\/schemas\/ContentObject"},"authors":{"type":"array","description":"List of authors.","items":{"$ref":"#\/components\/schemas\/PersonRef"}},"identifiers":{"type":"object","properties":{"doi":{"type":"string"},"arxiv":{"type":"string"},"dblp":{"type":"string"}}},"isOpenAccess":{"type":"boolean","description":"Whether the publication is open access."},"isMicrosoftIP":{"type":"boolean","description":"Whether the publication is Microsoft IP."},"files":{"type":"array","items":{"type":"object"}},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"fieldsOfStudy":{"type":"array","items":{"type":"object"}},"publicationType":{"type":"array","items":{"type":"object"}},"locale":{"type":"array","items":{"type":"object"}},"conference":{"type":"array","items":{"type":"object"}},"venue":{"type":"object"},"journal":{"type":"array","items":{"type":"object"}},"impactThemes":{"type":"array","items":{"type":"object"}},"highlights":{"type":"array","items":{"type":"object"}},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/articles\/{id}\/related":{"get":{"tags":["Articles"],"summary":"Get related for a article","operationId":"getArticlesByIdRelated","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Article ID"},"description":"Article ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":20,"minimum":1,"maximum":100},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include in each item.","default":""},"description":"Comma-separated list of fields to include in each item."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format. Use \"html\" to receive server-rendered card markup instead of JSON items.","default":"json","enum":["json","html"]},"description":"Response format. Use \"html\" to receive server-rendered card markup instead of JSON items."},{"name":"type","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated content types to include. Accepts singular (video, publication) or plural (videos, publications). Returns all types if omitted.","default":""},"description":"Comma-separated content types to include. Accepts singular (video, publication) or plural (videos, publications). Returns all types if omitted."},{"name":"exclude_type","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated content types to exclude. Accepts singular or plural forms.","default":""},"description":"Comma-separated content types to exclude. Accepts singular or plural forms."},{"name":"include_labs","in":"query","required":false,"schema":{"type":"boolean","description":"Include labs in related results. Labs are excluded by default.","default":false},"description":"Include labs in related results. Labs are excluded by default."},{"name":"order","in":"query","required":false,"schema":{"type":"string","description":"Sort order for returned items. Applies to both JSON and HTML responses.","default":"desc","enum":["desc","asc"]},"description":"Sort order for returned items. Applies to both JSON and HTML responses."},{"name":"card_style","in":"query","required":false,"schema":{"type":"string","description":"Card template set to use when format=html.","default":"search","enum":["search","card"]},"description":"Card template set to use when format=html."},{"name":"show_thumbnail","in":"query","required":false,"schema":{"type":"boolean","description":"Whether to show thumbnail images on cards when format=html.","default":true},"description":"Whether to show thumbnail images on cards when format=html."},{"name":"show_excerpt","in":"query","required":false,"schema":{"type":"boolean","description":"Whether to show excerpt text on cards when format=html.","default":true},"description":"Whether to show excerpt text on cards when format=html."},{"name":"thumbnail_side","in":"query","required":false,"schema":{"type":"string","description":"Which side to render thumbnails on cards when format=html.","default":"right","enum":["left","right"]},"description":"Which side to render thumbnails on cards when format=html."}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","description":"Related item (type varies by context)","properties":{"id":{"type":"integer"},"name":{"type":"string"},"slug":{"type":"string"},"url":{"type":"string","format":"uri"},"type":{"type":"string"}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/articles\/{id}\/research-areas":{"get":{"tags":["Articles"],"summary":"Get research-areas for a article","operationId":"getArticlesByIdResearchAreas","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Article ID"},"description":"Article ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"research-area","properties":{"id":{"type":"integer","nullable":true,"description":"Research area front post ID."},"term_id":{"type":"integer","description":"Taxonomy term ID."},"name":{"type":"string","description":"Research area name."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"content":{"type":"string","description":"Term description."},"publicationCount":{"type":"integer","description":"Number of publications."},"icon":{"type":"object","description":"Taxonomy icon.","properties":{"id":{"type":"integer"},"url":{"type":"string","format":"uri"}}},"image":{"$ref":"#\/components\/schemas\/Image"},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/articles\/{id}\/tools":{"get":{"tags":["Articles"],"summary":"Get tools for a article","operationId":"getArticlesByIdTools","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Article ID"},"description":"Article ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"tool","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Tool name."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date.","format":"date-time"},"dateModified":{"type":"string","description":"Last modified date.","format":"date-time"},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"downloadUrl":{"type":"string","description":"Download URL.","format":"uri"},"version":{"type":"string","description":"Current version."},"repositoryUrl":{"type":"string","description":"Source repository URL.","format":"uri"},"license":{"type":"string","description":"License type."},"applicationCategory":{"type":"string","description":"Application category."},"isMicrosoftIP":{"type":"boolean","description":"Whether the tool is Microsoft IP."},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"focusAreas":{"type":"array","items":{"type":"object"}},"productTypes":{"type":"array","items":{"type":"object"}},"languages":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"downloadSource":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/articles\/{id}\/videos":{"get":{"tags":["Articles"],"summary":"Get videos for a article","operationId":"getArticlesByIdVideos","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Article ID"},"description":"Article ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"video","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Video title."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date.","format":"date-time"},"dateModified":{"type":"string","description":"Last modified date.","format":"date-time"},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"excerpt":{"type":"string","description":"Short description."},"image":{"$ref":"#\/components\/schemas\/Image"},"embedUrl":{"type":"string","description":"Embed URL for the video.","format":"uri"},"duration":{"type":"string","description":"Video duration."},"uploadDate":{"type":"string","description":"Upload date.","format":"date"},"timestamp":{"type":"integer","description":"Unix timestamp."},"speakers":{"type":"array","description":"Video speakers.","items":{"$ref":"#\/components\/schemas\/PersonRef"}},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"videoTypes":{"type":"array","items":{"type":"object"}},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/careers":{"get":{"tags":["Careers"],"summary":"List careers","operationId":"getCareers","parameters":[{"name":"view","in":"query","required":false,"schema":{"type":"string","description":"Response detail level: \"compact\" returns minimal fields for list views, \"full\" returns all fields (default: compact)","default":"compact","enum":["compact","full"]},"description":"Response detail level: \"compact\" returns minimal fields for list views, \"full\" returns all fields (default: compact)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items per page.","default":10,"minimum":1,"maximum":100},"description":"Maximum number of items per page."},{"name":"search","in":"query","required":false,"schema":{"type":"string","description":"Search term."},"description":"Search term."},{"name":"type","in":"query","required":false,"schema":{"type":"string","description":"Filter by opportunity type slug","enum":["internship","researcher","research-engineer","applied-scientist","post-doc-researcher","research-pm","data-scientist","visiting-researcher","fellow"]},"description":"Filter by opportunity type slug"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Filter by region slug","enum":["north-america","global","asia-pacific","europe","latin-america","middle-east-africa"]},"description":"Filter by region slug"},{"name":"city","in":"query","required":false,"schema":{"type":"string","description":"Filter by city slug."},"description":"Filter by city slug."},{"name":"research_area","in":"query","required":false,"schema":{"type":"string","description":"Filter by research area slug","enum":["artificial-intelligence","systems-and-networking","human-computer-interaction","programming-languages-software-engineering","algorithms","computer-vision","human-language-technologies","data-platform-analytics","search-information-retrieval","medical-health-genomics","security-privacy-cryptography","social-sciences","graphics-and-multimedia","hardware-devices","computational-sciences-mathematics","economics","audio-acoustics","technology-for-emerging-markets","ecology-environment","quantum"]},"description":"Filter by research area slug"},{"name":"lab","in":"query","required":false,"schema":{"type":"integer","description":"Filter by lab ID."},"description":"Filter by lab ID."},{"name":"featured","in":"query","required":false,"schema":{"type":"boolean","description":"Filter by featured status."},"description":"Filter by featured status."},{"name":"orderby","in":"query","required":false,"schema":{"type":"string","description":"Sort by field.","default":"date","enum":["date","title","modified"]},"description":"Sort by field."},{"name":"order","in":"query","required":false,"schema":{"type":"string","description":"Sort order.","default":"desc","enum":["asc","desc"]},"description":"Sort order."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"},{"name":"links","in":"query","required":false,"schema":{"type":"string","description":"Sub-resource link detail: count (with counts, default), minimal (no counts, fastest), all (with counts, show all)","default":"count","enum":["count","minimal","all"]},"description":"Sub-resource link detail: count (with counts, default), minimal (no counts, fastest), all (with counts, show all)"},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include in response. Use to reduce payload size.","default":""},"description":"Comma-separated list of fields to include in response. Use to reduce payload size."},{"name":"modified_after","in":"query","required":false,"schema":{"type":"string","description":"Filter by modification date (YYYY-MM-DD or ISO 8601)"},"description":"Filter by modification date (YYYY-MM-DD or ISO 8601)"},{"name":"modified_before","in":"query","required":false,"schema":{"type":"string","description":"Filter by modification date (YYYY-MM-DD or ISO 8601)"},"description":"Filter by modification date (YYYY-MM-DD or ISO 8601)"},{"name":"ids","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of IDs to include"},"description":"Comma-separated list of IDs to include"},{"name":"exclude","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of IDs to exclude"},"description":"Comma-separated list of IDs to exclude"},{"name":"slug","in":"query","required":false,"schema":{"type":"string","description":"Filter by URL slug"},"description":"Filter by URL slug"},{"name":"content_format","in":"query","required":false,"schema":{"type":"string","description":"Content format: plain, rendered, markdown, or all (default)","default":"all","enum":["plain","rendered","markdown","all"]},"description":"Content format: plain, rendered, markdown, or all (default)"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"career","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Job title."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date."},"dateModified":{"type":"string","description":"Last modified date."},"datePosted":{"type":"string","description":"Date the job was posted."},"excerpt":{"type":"string","description":"Short description."},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"externalUrl":{"type":"string","description":"External application URL."},"featured":{"type":"boolean","description":"Whether the career is featured."},"howToApply":{"type":"string","description":"Application instructions."},"opportunityTypes":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"regions":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"cities":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/careers\/{id}":{"get":{"tags":["Careers"],"summary":"Get a single career","operationId":"getCareersById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Opportunity ID"},"description":"Opportunity ID"},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","title":"career","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Job title."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date."},"dateModified":{"type":"string","description":"Last modified date."},"datePosted":{"type":"string","description":"Date the job was posted."},"excerpt":{"type":"string","description":"Short description."},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"externalUrl":{"type":"string","description":"External application URL."},"featured":{"type":"boolean","description":"Whether the career is featured."},"howToApply":{"type":"string","description":"Application instructions."},"opportunityTypes":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"regions":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"cities":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/careers\/{id}\/events":{"get":{"tags":["Careers"],"summary":"Get events for a career","operationId":"getCareersByIdEvents","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Opportunity ID"},"description":"Opportunity ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"event","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Event title."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date.","format":"date-time"},"dateModified":{"type":"string","description":"Last modified date.","format":"date-time"},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"excerpt":{"type":"string","description":"Short description."},"startDate":{"type":"string","description":"Event start date and time.","format":"date-time"},"endDate":{"type":"string","description":"Event end date and time.","format":"date-time"},"eventTime":{"type":"string","description":"Formatted event time."},"timestamp":{"type":"integer","description":"Unix timestamp."},"location":{"type":"object","properties":{"name":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"}}},"eventType":{"type":"string","description":"Type of event."},"eventLink":{"type":"string","description":"External event link."},"recordingLink":{"type":"string","description":"Recording link."},"eventLinkRedirect":{"type":"string","description":"Redirect link for the event."},"isPrivate":{"type":"boolean","description":"Whether the event is private."},"hideRegion":{"type":"boolean","description":"Whether to hide the region."},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"eventTypes":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"regions":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"impactThemes":{"type":"array","items":{"type":"object"}},"programAudience":{"type":"array","items":{"type":"object"}},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/careers\/{id}\/groups":{"get":{"tags":["Careers"],"summary":"Get groups for a career","operationId":"getCareersByIdGroups","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Opportunity ID"},"description":"Opportunity ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"group","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Group name."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date.","format":"date-time"},"dateModified":{"type":"string","description":"Last modified date.","format":"date-time"},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"excerpt":{"type":"string","description":"Short description."},"image":{"$ref":"#\/components\/schemas\/Image"},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"groupTypes":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"memberCount":{"type":"integer","description":"Number of members."},"publicationCount":{"type":"integer","description":"Number of publications."},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/careers\/{id}\/labs":{"get":{"tags":["Careers"],"summary":"Get labs for a career","operationId":"getCareersByIdLabs","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Opportunity ID"},"description":"Opportunity ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"lab","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Lab name."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date."},"dateModified":{"type":"string","description":"Last modified date."},"shortName":{"type":"string","nullable":true,"description":"Short name or abbreviation."},"image":{"$ref":"#\/components\/schemas\/Image"},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"excerpt":{"type":"string","description":"Short description."},"location":{"type":"string","nullable":true,"description":"Lab location."},"leadership":{"type":"array","description":"Lab leadership.","items":{"$ref":"#\/components\/schemas\/PersonRef"}},"researchAreas":{"type":"array","items":{"type":"object"}},"regions":{"type":"array","items":{"type":"object"}},"memberCount":{"type":"integer","description":"Number of members."},"publicationCount":{"type":"integer","description":"Number of publications."},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/careers\/{id}\/people":{"get":{"tags":["Careers"],"summary":"Get people for a career","operationId":"getCareersByIdPeople","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Opportunity ID"},"description":"Opportunity ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"person","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Full name."},"url":{"type":"string","description":"Profile URL.","format":"uri"},"firstName":{"type":"string","description":"First name."},"lastName":{"type":"string","description":"Last name."},"alias":{"type":"string","description":"Alias or alternate name."},"title":{"type":"string","description":"Job title."},"staffType":{"type":"string","description":"Staff classification."},"email":{"type":"string","description":"Email address.","format":"email"},"socialMedia":{"type":"array","description":"Social media links.","items":{"type":"string"}},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"avatar":{"type":"string","description":"Avatar image URL.","format":"uri"},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"publicationCount":{"type":"integer","description":"Number of publications."},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/careers\/{id}\/projects":{"get":{"tags":["Careers"],"summary":"Get projects for a career","operationId":"getCareersByIdProjects","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Opportunity ID"},"description":"Opportunity ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"project","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Project name."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date."},"dateModified":{"type":"string","description":"Last modified date."},"content":{"$ref":"#\/components\/schemas\/ContentObject"},"excerpt":{"type":"string","description":"Short description."},"status":{"type":"string","description":"Project status."},"startDate":{"type":"string","nullable":true,"description":"Project start date."},"endDate":{"type":"string","nullable":true,"description":"Project end date."},"image":{"$ref":"#\/components\/schemas\/Image"},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"memberCount":{"type":"integer","description":"Number of members."},"publicationCount":{"type":"integer","description":"Number of publications."},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/careers\/{id}\/related":{"get":{"tags":["Careers"],"summary":"Get related for a career","operationId":"getCareersByIdRelated","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Opportunity ID"},"description":"Opportunity ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":20,"minimum":1,"maximum":100},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include in each item.","default":""},"description":"Comma-separated list of fields to include in each item."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format. Use \"html\" to receive server-rendered card markup instead of JSON items.","default":"json","enum":["json","html"]},"description":"Response format. Use \"html\" to receive server-rendered card markup instead of JSON items."},{"name":"type","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated content types to include. Accepts singular (video, publication) or plural (videos, publications). Returns all types if omitted.","default":""},"description":"Comma-separated content types to include. Accepts singular (video, publication) or plural (videos, publications). Returns all types if omitted."},{"name":"exclude_type","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated content types to exclude. Accepts singular or plural forms.","default":""},"description":"Comma-separated content types to exclude. Accepts singular or plural forms."},{"name":"include_labs","in":"query","required":false,"schema":{"type":"boolean","description":"Include labs in related results. Labs are excluded by default.","default":false},"description":"Include labs in related results. Labs are excluded by default."},{"name":"order","in":"query","required":false,"schema":{"type":"string","description":"Sort order for returned items. Applies to both JSON and HTML responses.","default":"desc","enum":["desc","asc"]},"description":"Sort order for returned items. Applies to both JSON and HTML responses."},{"name":"card_style","in":"query","required":false,"schema":{"type":"string","description":"Card template set to use when format=html.","default":"search","enum":["search","card"]},"description":"Card template set to use when format=html."},{"name":"show_thumbnail","in":"query","required":false,"schema":{"type":"boolean","description":"Whether to show thumbnail images on cards when format=html.","default":true},"description":"Whether to show thumbnail images on cards when format=html."},{"name":"show_excerpt","in":"query","required":false,"schema":{"type":"boolean","description":"Whether to show excerpt text on cards when format=html.","default":true},"description":"Whether to show excerpt text on cards when format=html."},{"name":"thumbnail_side","in":"query","required":false,"schema":{"type":"string","description":"Which side to render thumbnails on cards when format=html.","default":"right","enum":["left","right"]},"description":"Which side to render thumbnails on cards when format=html."}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","description":"Related item (type varies by context)","properties":{"id":{"type":"integer"},"name":{"type":"string"},"slug":{"type":"string"},"url":{"type":"string","format":"uri"},"type":{"type":"string"}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/careers\/{id}\/research-areas":{"get":{"tags":["Careers"],"summary":"Get research-areas for a career","operationId":"getCareersByIdResearchAreas","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","description":"Opportunity ID"},"description":"Opportunity ID"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"research-area","properties":{"id":{"type":"integer","nullable":true,"description":"Research area front post ID."},"term_id":{"type":"integer","description":"Taxonomy term ID."},"name":{"type":"string","description":"Research area name."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"content":{"type":"string","description":"Term description."},"publicationCount":{"type":"integer","description":"Number of publications."},"icon":{"type":"object","description":"Taxonomy icon.","properties":{"id":{"type":"integer"},"url":{"type":"string","format":"uri"}}},"image":{"$ref":"#\/components\/schemas\/Image"},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/conferences":{"get":{"tags":["Conferences"],"summary":"List conferences","operationId":"getConferences","parameters":[{"name":"view","in":"query","required":false,"schema":{"type":"string","description":"Response detail level: \"compact\" returns minimal fields for list views, \"full\" returns all fields (default: compact)","default":"compact","enum":["compact","full"]},"description":"Response detail level: \"compact\" returns minimal fields for list views, \"full\" returns all fields (default: compact)"},{"name":"search","in":"query","required":false,"schema":{"type":"string","description":"Search by name","default":""},"description":"Search by name"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection","default":1,"minimum":1},"description":"Current page of the collection"},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return","default":20,"minimum":1,"maximum":100},"description":"Maximum number of items to return"},{"name":"orderby","in":"query","required":false,"schema":{"type":"string","description":"Sort collection by field","default":"name","enum":["name","count","term_id"]},"description":"Sort collection by field"},{"name":"order","in":"query","required":false,"schema":{"type":"string","description":"Sort order","default":"asc","enum":["asc","desc"]},"description":"Sort order"},{"name":"hide_empty","in":"query","required":false,"schema":{"type":"boolean","description":"Whether to hide terms with no publications","default":true},"description":"Whether to hide terms with no publications"},{"name":"ids","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of term IDs to include"},"description":"Comma-separated list of term IDs to include"},{"name":"exclude","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of term IDs to exclude"},"description":"Comma-separated list of term IDs to exclude"},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"},{"name":"links","in":"query","required":false,"schema":{"type":"string","description":"Sub-resource link detail: count (with counts, default), minimal (no counts, fastest), all (with counts, show all)","default":"count","enum":["count","minimal","all"]},"description":"Sub-resource link detail: count (with counts, default), minimal (no counts, fastest), all (with counts, show all)"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"conference","properties":{"id":{"type":"integer","description":"Unique term identifier."},"slug":{"type":"string","description":"URL-friendly identifier."},"name":{"type":"string","description":"Conference name."},"publicationCount":{"type":"integer","description":"Number of associated publications."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"content":{"type":"string","description":"Term description (single view only)."},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/conferences\/{slug}":{"get":{"tags":["Conferences"],"summary":"Get a single conference","operationId":"getConferencesById","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"slug","in":"query","required":true,"schema":{"type":"string","description":"Conference slug"},"description":"Conference slug"},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","title":"conference","properties":{"id":{"type":"integer","description":"Unique term identifier."},"slug":{"type":"string","description":"URL-friendly identifier."},"name":{"type":"string","description":"Conference name."},"publicationCount":{"type":"integer","description":"Number of associated publications."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"content":{"type":"string","description":"Term description (single view only)."},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/conferences\/{slug}\/publications":{"get":{"tags":["Conferences"],"summary":"Get publications for a conference","operationId":"getConferencesByIdPublications","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"slug","in":"query","required":true,"schema":{"type":"string","description":"Conference slug"},"description":"Conference slug"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection.","default":1,"minimum":1},"description":"Current page of the collection."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return per page.","default":50,"minimum":1,"maximum":200},"description":"Maximum number of items to return per page."},{"name":"fields","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas).","default":""},"description":"Comma-separated list of fields to include. Use to reduce payload or pull extra fields from the full single-item endpoint (e.g., content, researchAreas)."},{"name":"selected","in":"query","required":false,"schema":{"type":"boolean","description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types.","default":true},"description":"When true (default), return only the items the researcher curated to show on their public profile (the wp-admin \"show on profile\" selection). Set false to return the full connected\/authored set. Curated people sub-resources (projects, publications, videos, tools, groups, posts) also mark each item with a boolean \"selected\" field; the param is ignored for uncurated types."},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Response format: json (default), jsonld, or schema","default":"json","enum":["json","jsonld","schema"]},"description":"Response format: json (default), jsonld, or schema"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"type":"object","properties":{"_meta":{"$ref":"#\/components\/schemas\/Meta"},"_pagination":{"$ref":"#\/components\/schemas\/Pagination"},"_links":{"type":"object"},"items":{"type":"array","items":{"type":"object","title":"publication","properties":{"id":{"type":"integer","description":"Unique identifier."},"name":{"type":"string","description":"Publication title."},"slug":{"type":"string","description":"URL-friendly identifier."},"url":{"type":"string","description":"Permalink URL.","format":"uri"},"datePublished":{"type":"string","description":"Publication date.","format":"date"},"dateModified":{"type":"string","description":"Last modified date.","format":"date-time"},"year":{"type":"integer","description":"Publication year."},"timestamp":{"type":"integer","description":"Unix timestamp."},"abstract":{"$ref":"#\/components\/schemas\/ContentObject"},"authors":{"type":"array","description":"List of authors.","items":{"$ref":"#\/components\/schemas\/PersonRef"}},"identifiers":{"type":"object","properties":{"doi":{"type":"string"},"arxiv":{"type":"string"},"dblp":{"type":"string"}}},"isOpenAccess":{"type":"boolean","description":"Whether the publication is open access."},"isMicrosoftIP":{"type":"boolean","description":"Whether the publication is Microsoft IP."},"files":{"type":"array","items":{"type":"object"}},"researchAreas":{"type":"array","items":{"$ref":"#\/components\/schemas\/TaxonomyTerm"}},"fieldsOfStudy":{"type":"array","items":{"type":"object"}},"publicationType":{"type":"array","items":{"type":"object"}},"locale":{"type":"array","items":{"type":"object"}},"conference":{"type":"array","items":{"type":"object"}},"venue":{"type":"object"},"journal":{"type":"array","items":{"type":"object"}},"impactThemes":{"type":"array","items":{"type":"object"}},"highlights":{"type":"array","items":{"type":"object"}},"_links":{"type":"object"},"_meta":{"$ref":"#\/components\/schemas\/Meta"},"selected":{"type":"boolean","description":"Whether the researcher curated this item to show on their public profile. Present on curated people sub-resources (projects, publications, videos, tools, groups, posts)."}}}}}}}}},"400":{"$ref":"#\/components\/responses\/BadRequest"},"404":{"$ref":"#\/components\/responses\/NotFound"}}}},"\/events":{"get":{"tags":["Events"],"summary":"List events","operationId":"getEvents","parameters":[{"name":"view","in":"query","required":false,"schema":{"type":"string","description":"Response detail level: \"compact\" returns minimal fields for list views, \"full\" returns all fields (default: compact)","default":"compact","enum":["compact","full"]},"description":"Response detail level: \"compact\" returns minimal fields for list views, \"full\" returns all fields (default: compact)"},{"name":"search","in":"query","required":false,"schema":{"type":"string","description":"Search events by title, description","default":""},"description":"Search events by title, description"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Current page of the collection","default":1,"minimum":1},"description":"Current page of the collection"},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","description":"Maximum number of items to return","default":20,"minimum":1,"maximum":100},"description":"Maximum number of items to return"},{"name":"orderby","in":"query","required":false,"schema":{"type":"string","description":"Sort collection by field","default":"startDate","enum":["date","title","startDate"]},"description":"Sort collection by field"},{"name":"order","in":"query","required":false,"schema":{"type":"string","description":"Sort order","default":"asc","enum":["asc","desc"]},"description":"Sort order"},{"name":"event_type","in":"query","required":false,"schema":{"type":"array","description":"Filter by event type slugs","items":{"type":"string","enum":["conferences","hosted-by-microsoft","workshop","msr-webinar","universities","faculty-summits","academic-event"]}},"description":"Filter by event type slugs"},{"name":"research_area","in":"query","required":false,"schema":{"type":"array","description":"Filter by research area slugs","items":{"type":"string","enum":["artificial-intelligence","systems-and-networking","human-computer-interaction","programming-languages-software-engineering","algorithms","computer-vision","human-language-technologies","data-platform-analytics","search-information-retrieval","medical-health-genomics","security-privacy-cryptography","social-sciences","graphics-and-multimedia","hardware-devices","computational-sciences-mathematics","economics","audio-acoustics","technology-for-emerging-markets","ecology-environment","quantum
[...]
